language: swift
osx_image: xcode10.2

script:
  - cd Example/
  - pod install
  - cd ..
  - xcodebuild clean test -scheme Analysis_Tests -workspace Example/Analysis.xcworkspace -destination "platform=iOS Simulator,name=iPhone X,OS=12.2"
